<div id="recurring-payment">
    <nav class="navbar navbar-expand-lg fixed-top top-nav">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
               <li class="list-inline-item">
                   <a class="nav-link text-white">
                       Recurring payment
                   </a>
               </li>
               <li class="list-inline-item">
                   <a class="nav-link" routerLink='/notification'>
                       <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul> 
       </div>
    </nav>
</div>

<!-- Main -->
<div class="row justify-content-center">
    <div id="main" class="container mt-4 pl-1 pr-1 mx-auto">
        <div class="container p-0">
            <ul class="list-unstyled mb-0 col mt-5 rounded">
                <li *ngFor="let recurringPayment of recurringPayments" class="p-2 row">
                    <div>
                        <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                    </div>
                    <div class="main-content m-0 my-auto mr-auto">
                        <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <p class="mb-0 pl-1 category-title text-nowrap">
                                <strong>{{ recurringPayment.title | titlecase }}, {{ recurringPayment.category | titlecase }}</strong>
                                <span *ngIf="recurringPayment.type === 'income'" class="mb-0 text-success float-right">₹{{ recurringPayment.amount }}</span>
                                <span *ngIf="recurringPayment.type === 'expense'" class="mb-0 text-danger float-right">-₹{{ recurringPayment.amount }}</span>
                            </p>
                            <p class="mb-0 pl-1 text-secondary text-nowrap">{{ recurringPayment.fromDate }} - {{ recurringPayment.fromDate }} ({{ recurringPayment.duration }})</p>
                            <p class="mb-0 pl-1 text-secondary text-nowrap">Date of next execution: {{ recurringPayment.executionDate | titlecase }}</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink="/create" (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>