<div id="history">
    <nav class="navbar navbar-expand-lg fixed-top top-nav">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
               <li class="list-inline-item">
                   <a class="nav-link text-white">
                       Recurring payment
                   </a>
               </li>
               <li class="list-inline-item">
                   <a class="nav-link">
                       <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul> 
       </div>
    </nav>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a href="" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>