<div id="category">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul id="tools-nav" class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link text-white">
                        Category
                    </a>
                </li>
               
                <li class="list-inline-item">
                    <a class="nav-link">
                        <i class="fas fa-sort"></i>
                    </a>
                </li>
               
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/notification'>
                        <i class="far fa-bell"></i>
                    </a>
                </li>
               
                <li class="list-inline-item category-search icon m-0">
                    <a class="nav-link pr-4" (click)="searchToggle()">
                        <i class="fas fa-search"></i>
                    </a>
                    <input type="text" class="mt-2 pl-2 pr-2" [ngClass]="[ searchToggler ? 'category-input-active' : '']" placeholder="Search..."/>
                    <button type="reset" class="btn category-clear-btn" [ngClass]="[ searchToggler ? 'category-clear-active' : '']" (click)="searchToggle()">
                        <i class="fas fa-times"></i>
                    </button>
                </li>

           </ul>
        
       </div>
    </nav>
    
    <section>
        <nav id="subnav" class="navbar navbar-expand-lg fixed-top mt-5">
            <div class="ml-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(1)">
                            <i class="fas fa-align-left"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(2)">
                            <i class="fas fa-sort-alpha-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(3)">
                            <i class="fas fa-star"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(4)">
                            <i class="fas fa-history"></i>
                        </a>
                    </li>
                </ul>    
            </div>
        </nav>
    </section>
</div>

<div class="row justify-content-center">

    <!-- Basic categories -->
    <div *ngIf="val == 1" id="basic" class="container rounded mt-5 p-0 pt-5 main basic">
        <div *ngFor="let category of categories">
            {{category.id}} - {{category.name}} - {{category.parent_id}}
        </div>

        <div id="accordion" class="mt-5 mb-5">
            <div class="card" *ngFor="let category of categories">
                <a *ngIf="category.parent_id === null" class="card-link" data-toggle="collapse" data-parent="#accordion" href="#{{category.name}}">
                    <div class="card-header bg-white">
                        <div class="row h-100 pl-2 pr-2">
                            <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                            <span class="ml-3 my-auto category-title">{{ category.name | titlecase }}</span>
                        </div>
                    </div> 
                </a>
                <div id="{{category.name}}" class="collapse">
                    <div class="card-body pt-0"> 
                        <ul class="list-unstyled mb-0 col">
                            <li class="p-2 row text-center">
                                <div *ngIf="category.parent_id !== null">
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto" *ngIf="category.parent_id !== null">
                                    <a data-toggle="collapse" href="" role="button" aria-expanded="false">
                                        <p class="mb-0 text-dark text-left pl-4 text-nowrap">{{ category.name | titlecase }}</p>
                                    </a>  
                                </div>
                                <div class="main-content my-auto" *ngIf="category.parent_id !== null">
                                    <a>
                                        <p class="mb-0">
                                            <i *ngIf="isStarred" class="fas fa-star text-warning"></i>
                                            <i *ngIf="!isStarred" class="far fa-star text-dark"></i>
                                        </p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div id="{{category.parentCategory[0]}}" class="collapse">
                    <div class="card-body pt-0"> 
                        <ul class="list-unstyled mb-0 col">
                            <li class="p-2 row text-center" *ngFor="let child of category.parentCategory;">
                                <div *ngIf="child !== category.parentCategory[0]">
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto" *ngIf="child !== category.parentCategory[0]">
                                    <a data-toggle="collapse" href="" role="button" aria-expanded="false">
                                        <p class="mb-0 text-dark text-left pl-4 text-nowrap">{{ child | titlecase }}</p>
                                    </a>  
                                </div>
                                <div class="main-content my-auto" *ngIf="child !== category.parentCategory[0]">
                                    <a>
                                        <p class="mb-0">
                                            <i *ngIf="isStarred" class="fas fa-star text-warning"></i>
                                            <i *ngIf="!isStarred" class="far fa-star text-dark"></i>
                                        </p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- All categories -->
    <div *ngIf="val == 2" id="all" class="container mt-5 pl-1 pt-5 mb-5 main">
        <ul class="list-unstyled mb-0 col mt-5 border rounded">
            <li class="p-2 pr-4 row" *ngFor="let category of allCategories">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">{{ category.title | titlecase }}</p>
                        <p class="mb-0 pl-4 category-title">{{ category.category | titlecase }}</p>
                    </a>
                </div>
                <div class="main-content my-auto">
                    <a><p class="mb-0"><i class="far fa-star text-dark"></i></p></a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Starred categories -->
    <div *ngIf="val == 3" id="starred" class="container rounded mt-5 pl-1 pt-5 mb-5 main">
    
        <ul class="list-unstyled mb-0 col mt-5 border rounded">
            <li class="p-2 pr-4 row" *ngFor="let category of starredCategories">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">{{ category.title | titlecase}}</p>
                        <p class="mb-0 pl-4 category-title">{{ category.category | titlecase }}</p>
                    </a>
                    
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="fas fa-star text-warning"></i></p></a>
                </div>
            </li>
        </ul>

    </div>

    <!-- History -->
    <div *ngIf="val == 4" id="all" class="container mt-5 pl-1 pt-5 main">
    
        <ul class="list-unstyled mb-0 col border rounded mt-5">
            <li class="p-2 pr-4 row" *ngFor="let category of historyCategories">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 category-title">{{ category.category | titlecase }}</p>
                    </a>              
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                </div>
            </li> 
        </ul>

    </div>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink='/create' (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>