<div id="category">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul id="tools-nav" class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link text-white">
                        Category
                    </a>
                </li>
               
                <li class="list-inline-item">
                    <a class="nav-link">
                        <i class="fas fa-sort"></i>
                    </a>
                </li>
               
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/notification'>
                        <i class="far fa-bell"></i>
                    </a>
                </li>
               
                <li class="list-inline-item category-search icon m-0">
                    <a class="nav-link pr-4" (click)="searchToggle()">
                        <i class="fas fa-search"></i>
                    </a>
                    <input type="text" class="mt-2 pl-2 pr-2" [ngClass]="[ searchToggler ? 'category-input-active' : '']" placeholder="Search..."/>
                    <button type="reset" class="btn category-clear-btn" [ngClass]="[ searchToggler ? 'category-clear-active' : '']" (click)="searchToggle()">
                        <i class="fas fa-times"></i>
                    </button>
                </li>

           </ul>
        
       </div>
    </nav>
    
    <section>
        <nav id="subnav" class="navbar navbar-expand-lg fixed-top mt-5">
            <div class="ml-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(1)">
                            <i class="fas fa-align-left"></i>
                            <!-- <i class="fas fa-list-ul"></i> -->
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(2)">
                            <i class="fas fa-sort-alpha-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(3)">
                            <i class="fas fa-star"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" (click)="expContent(4)">
                            <i class="fas fa-history"></i>
                        </a>
                    </li>
                </ul>    
            </div>
        </nav>
    </section>
</div>

<!-- <br><br> -->

<div class="row justify-content-center">
    <!-- Basic categories -->
    <div *ngIf="val == 1" id="basic" class="container rounded mt-5 p-0 pt-5 main">
        <div id="accordion" class="mt-5">
            <div class="card">
                <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#food">
                    <div class="card-header bg-white">
                        <div class="row h-100 pl-2 pr-2">
                            <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                            <span class="ml-3 my-auto category-title">Food</span>
                        </div>
                    </div> 
                </a>
                <div id="food" class="collapse show">
                    <div class="card-body"> 
                        <!-- Sub menu -->
                        <ul class="list-unstyled mb-0 col">
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <p class="mb-0 text-dark text-left pl-4">Food</p>
                                    </a>
                                    
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4 text-nowrap">Entertainment</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Car</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Home</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#entertainment">
                    <div class="card-header bg-white">
                        <div class="row h-100 pl-2 pr-2">
                            <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                            <span class="ml-3 my-auto category-title">Entertainment</span>
                        </div>
                    </div> 
                </a>
                <div id="entertainment" class="collapse show">
                    <div class="card-body"> 
                        <!-- Sub menu -->
                        <ul class="list-unstyled mb-0 col">
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <p class="mb-0 text-dark text-left pl-4">Food</p>
                                    </a>
                                    
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4 text-nowrap">Entertainment</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Car</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Home</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#car">
                    <div class="card-header bg-white">
                        <div class="row h-100 pl-2 pr-2">
                            <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                            <span class="ml-3 my-auto category-title">Car</span>
                        </div>
                    </div> 
                </a>
                <div id="car" class="collapse show">
                    <div class="card-body"> 
                        <!-- Sub menu -->
                        <ul class="list-unstyled mb-0 col">
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <p class="mb-0 text-dark text-left pl-4">Food</p>
                                    </a>
                                    
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4 text-nowrap">Entertainment</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Car</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                            <li class="p-2 row text-center">
                                <div>
                                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                                </div>
                                <div class="main-content w-50 m-0 my-auto mr-auto">
                                    <a routerLink='/about'>
                                        <p class="mb-0 text-dark text-left pl-4">Home</p>
                                    </a>
                                </div>
                                <div class="main-content my-auto">
                                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- All categories -->
    <div *ngIf="val == 2" id="all" class="container mt-5 pl-1 pt-5 main">
        <ul class="list-unstyled mb-0 col mt-5 border rounded">
            <li class="p-2 pr-4 row" *ngFor="let transaction of transactions">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">{{ transaction.title | titlecase }}</p>
                        <p class="mb-0 pl-4 category-title">{{ transaction.category | titlecase }}</p>
                    </a>
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Starred categories -->
    <div *ngIf="val == 3" id="all" class="container rounded mt-5 pl-1 pt-5 main">
    
        <ul class="list-unstyled mb-0 col mt-5 border rounded">
            <li class="p-2 pr-4 row" *ngFor="let transaction of transactions">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">Car</p>
                        <p class="mb-0 pl-4 category-title">Accessories</p>
                    </a>
                    
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="fas fa-star text-warning"></i></p></a>
                </div>
            </li>
          
            <li class="p-2 pr-4 row">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">Electronics</p>
                        <p class="mb-0 pl-4 category-title">Accessories</p>
                    </a>
                    
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="fas fa-star text-warning"></i></p></a>
                </div>
            </li>    
        </ul>

    </div>

    <!-- History -->
    <div *ngIf="val == 4" id="all" class="container mt-5 pl-1 pt-5 main">
    
        <ul class="list-unstyled mb-0 col border rounded mt-5">
            <li class="p-2 pr-4 row" *ngFor="let transaction of transactions">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 category-title">{{ transaction.category | titlecase }}</p>
                    </a>              
                </div>
                <div class="main-content my-auto">
                    <a routerLink='/about'><p class="mb-0"><i class="far fa-star"></i></p></a>
                </div>
            </li> 
        </ul>

    </div>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink='/create' (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>