nav {
    background: #593481;
    color: #c3b8d9 !important;
    z-index: -1 !important;
}

div a {
    color: #c3b8d9;
}

ul li a:hover {
    color: white;
    cursor: pointer;
}

.head {
    background: #3a2154;
    border-radius: 20px;
    border-style: inset;
    border-width: .7px;
}