#top-nav {
    background: #593481;
    color: #c3b8d9;
    z-index: 5;
}

#subnav {
    background: #7143a3;
    color: #c3b8d9;
    z-index: 5;
}

#main {
    z-index: 4;
    position: absolute;
    width: 99%;
}

#top-nav div a, #subnav div a {
    color: #c3b8d9;
}

#top-nav ul li a:hover, #subnav ul li a:hover {
    color: white;
    cursor: pointer;
}

#main-content {
    display: inline-block;
}

#main ul li:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 95%; 
    padding-top: 1%;
    border-bottom: 1px solid #cebce0ef; 
}

#main ul li:last-child::after {
    border-bottom: none !important;
}

a {
    text-decoration: none !important;
}

#create-nav {
    z-index: 4;
}

.category-title {
    font-size: 1.1em;
    color: black ;
}

.transfer-icon {
    background-color: blue;
    font-size: 1.3em;
    color: white;
    font-weight: 585;
}
