.top-nav {
    background: #593481;
    color: #c3b8d9;
    z-index: 0;
}

#subnav {
    background: #7143a3;
    color: #c3b8d9;
    z-index: 0;
}

div a {
    color: #c3b8d9;
}

ul li a:hover {
    color: white;
    cursor: pointer;
}
