<div id="transfer">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="nav-link text-white">
                        Transfers
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link">
                         <i class="fas fa-sort"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/filter'>
                        <i class="fas fa-filter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/notification'>
                        <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul>
       </div>
    </nav>  
</div>

<!-- Main -->
<div class="row justify-content-center">
    <div id="main" class="container mt-5 pl-1 pt-4 mx-auto">
        <ul class="list-unstyled mb-0 col mt-3 p-3 pl-4 pr-4">
            <li class="p-2 row align-items-center" *ngFor="let transfer of transfers">
                <div>
                    <span class="transfer-icon rounded-circle p-2 pl-3 pr-3">{{ transfer.title === null? 't' : transfer.title  | uppercase | slice:0:1 }} </span>
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="mb-0 pl-4 text-dark">{{ transfer.title? (transfer.title | titlecase) : '' }} | ₹{{ transfer.amount }}</p>
                        <p class="mb-0 pl-4 text-secondary text-nowrap">From: {{ transfer.from_account.name | titlecase }}</p>
                        <p class="mb-0 pl-4 text-secondary text-nowrap">To: {{ transfer.to_account.name | titlecase }}</p>
                    </a>   
                </div>
                <div class="main-content my-auto">
                    <p class="mb-0 text-secondary">{{ transfer.date }}</p>
                </div>
            </li>    
        </ul>
    </div>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink="/create" (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>