<div id="transfer">
    <nav class="navbar navbar-expand-lg fixed-top top-nav">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="nav-link text-white">
                        Transfers
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link">
                         <i class="fas fa-sort"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/filter'>
                        <i class="fas fa-filter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link">
                        <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul>
        
       </div>
    </nav>
    
</div>
