#top-nav {
    background: #593481;
    color: #c3b8d9;
    z-index: 5;
}

#subnav {
    background: #7143a3;
    color: #c3b8d9;
    z-index: 5;
}

#main {
    z-index: 4;
    position: absolute;
    width: 99%;
}

#top-nav div a, #subnav div a {
    color: #c3b8d9;
}

#top-nav ul li a:hover, #subnav ul li a:hover {
    color: white;
    cursor: pointer;
}

#main-content {
    display: inline-block;
}

#main ul li:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 90%; 
    padding-top: 1%;
    border-bottom: 1px solid #cebce0ef; 
}

#main ul li:last-child::after {
    border-bottom: none !important;
}

a {
    text-decoration: none;
}

#create-nav {
    z-index: 4;
}

.history-title {
    font-size: 1em;
    color: black ;
}

.bg-default {
    background: #593481;
}

.history-icon {
    background-color: #FC4242;
    font-size: 1.3em;
    color: white;
    font-weight: 585;
}

/* search box */

#tools-nav .history-search a {
    width: 20px;
}

#tools-nav .history-search a:hover {
    width: 20px;
}

#tools-nav li {
    position: relative;
}

li.history-search input, .history-clear-btn {
    outline: 0;
    border: 0;
    display: block;
    padding: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    color: white;
    background: #593481;
    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.history-search input.history-input-active {
    border: 1px solid #c3b8d9;
    padding: 0 5px;
    width: 192px;
    left: -192px;
}

.history-clear-btn {
    display: none;
}

.history-clear-active, .history-clear-btn.history-clear-active {
    display: inline;
    top: 8px;
    left: -21px;
    z-index: 2;
    color: #c3b8d9;
}

li.history-search input::placeholder {
    color: #c3b8d9;
}