<div id="filter">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="nav-link text-white" (click)="navigateBack()">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
               <li class="list-inline-item">
                   <a class="nav-link text-white">
                       Filter
                   </a>
               </li>
           </ul> 
       </div>
    </nav>
</div>

<div class="row justify-content-center">
    <div id="main" class="container-fluid rounded mt-5 pt-5">
        <form>
            <table class="table table-borderless">
                <tr>
                    <td class="p-0">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label pl-0">Expenses</label>
                        </div>
                    </td>
                    <td class="p-0">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label pl-0">Incomes</label>
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="p-0 pr-4">
                            Category
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="category...">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 pr-4">
                            Account
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="account...">
                            </div>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
            <h3>Criteria</h3>
            <hr>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="p-0 pr-4 text-nowrap">
                            Date from
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="date" class="form-control col-11 p-1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 pr-4 text-nowrap">
                            Date to
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="date" class="form-control col-11 p-1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 pr-4 text-nowrap">
                            Amount from
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="number" class="form-control col-11 p-1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 pr-4 text-nowrap">
                            Amount to
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="number" class="form-control col-11 p-1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 pr-4 text-nowrap">
                            Tag
                        </td>
                        <td class="p-0">
                            <div class="form-group">
                                <input type="text" class="form-control col-11 p-1">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="container text-center mb-5">
                <div class="text-center">
                    <button class="btn btn-sm clear-btn col-4 bg-default mr-2" type="submit">Clear</button>
                    <button class="btn btn-sm ok-btn col-4 bg-default" type="reset">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>