<div id="template">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
            <ul id="tools-nav" class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="nav-link text-white">
                        Template
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a class="nav-link pr-3">
                        <i class="fas fa-sort"></i>
                    </a>
                </li>
                <li class="list-inline-item template-search icon m-0">
                    <a class="nav-link pr-4" (click)="searchToggle()">
                        <i class="fas fa-search"></i>
                    </a>
                    <input type="text" class="mt-2 pl-2 pr-2" [ngClass]="[ searchToggler ? 'template-input-active' : '']" placeholder="Search..."/>
                    <button type="reset" class="btn template-clear-btn" [ngClass]="[ searchToggler ? 'template-clear-active' : '']" (click)="searchToggle()">
                        <i class="fas fa-times"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/notification'>
                        <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul> 
       </div>
    </nav>
</div>

<!-- Main -->
<div class="row justify-content-center">
    <div id="main" class="container mt-3 pl-1 pt-5 mx-auto">
        <ul class="list-unstyled mb-0 pt-3 col mt-3 rounded">
            <li class="p-2 row" *ngFor="let template of templates">
                <div>
                    <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                </div>
                <div class="main-content w-50 m-0 my-auto mr-auto">
                    <a data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p *ngIf="template.type === 'expense'" class="mb-0 pl-4 category-title text-danger">- ₹{{ template.amount }}</p>
                        <p *ngIf="template.type === 'income'" class="mb-0 pl-4 category-title text-success">₹{{ template.amount }}</p>
                        <p class="mb-0 pl-4 text-secondary">{{ template.category | titlecase }}, {{ template.title | titlecase }}</p>
                        <p *ngIf="template.tag" class="pl-4 category-title text-white"><small class="bg-default rounded p-1 mb-1">{{ template.tag }}</small></p>
                    </a>   
                </div>
            </li>    
        </ul>
    </div>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink="/create" (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>