<div id="template">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul class="list-inline mb-0">
               <li class="list-inline-item">
                   <a class="nav-link text-white">
                       Template list
                   </a>
               </li>
               <li class="list-inline-item">
                   <a class="nav-link">
                    <i class="fas fa-search"></i>
                   </a>
               </li>
               <li class="list-inline-item">
                   <a class="nav-link">
                        <i class="fas fa-sort"></i>
                   </a>
               </li>
               <li class="list-inline-item">
                   <a class="nav-link">
                       <i class="far fa-bell"></i>
                   </a>
               </li>
           </ul> 
       </div>
    </nav>
</div>