#top-nav {
    background: #593481;
    color: #c3b8d9;
    z-index: 5;
}

#top-nav ul li a:hover {
    color: white;
}

#main {
    z-index: 4;
    position: absolute;
    width: 100%;
}

#top-nav div a {
    color: #c3b8d9;
}

#bottom-nav {
    background: #593481;
    color: #c3b8d9;
    font-size: 1em;
    z-index: 4;
}

#bottom-nav ul li a {
    color: #c3b8d9;
}

#bottom-nav ul li a:hover {
    color: white;
    cursor: pointer;
}

.bg-default {
    background-color: #593481;
    color: #d4cce4;
}

.bg-default:hover {
    color: white;
}

#create-nav {
    z-index: 4;
}

#current-page {
    background: #8e66b8;
}

.current-status {
    background: #8e66b8;
}

.bg-default-header {
    background: #7143a3;
}

.text-dark-default {
    color: #7143a3;
}

#view-status-nav {
    z-index: 4;
}

.date-filter {
    /* border: nolne; */
    background: transparent;
    color: white;
}

.date-filter option {
    background: unset;
    color: black;
}

/* =================================================================================================================== */

#chart-transaction, #chart-balance {
    display: block;
}

@media screen and (min-width: 500px) {
    #chart-transaction, #chart-balance, #chart-incomes-expenses, #chart-category {
        width: 70%;
        margin: auto;
    }   
}