<div id="plannedtransaction">
    <nav id="top-nav" class="navbar navbar-expand-lg fixed-top">
        <div class="ml-auto">
           <ul class="list-inline">
               <li class="list-inline-item">
                   <a class="nav-link text-white">
                       Planned transaction
                   </a>
               </li>
                <li class="list-inline-item">
                    <a class="nav-link" routerLink='/notification'>
                        <i class="far fa-bell"></i>
                    </a>
                </li>
           </ul>
       </div>
    </nav>
    
   <section>
        <nav id="subnav" class="navbar navbar-expand-lg fixed-top mt-5">
            <div class="ml-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="nav-link">
                            ₹00.00
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link">
                            mm-yyyy <i class="fas fa-chevron-right" style="font-size: 14px;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" id="filter-sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filter-sort-dropdown">
                            <a class="dropdown-item text-dark" data-toggle="collapse" data-target=".navbar-collapse.show">Sort</a>
                            <a class="dropdown-item text-dark" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink='/filter'>Filter</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </nav>
    </section> 
</div>

<div class="row justify-content-center">
    <!-- Main -->
    <div class="row justify-content-center">
        <div id="main" class="container mt-5 pl-1 pt-5 mx-auto">
            <ul class="list-unstyled mb-0 pt-1 col mt-5 rounded">
                <li class="p-2 row" *ngFor="let plannedTransaction of plannedTransactions">
                    <div>
                        <img src="assets/images/icons/a1.png" class="img rounded-circle" width="50px" alt="">
                    </div>
                    <div class="main-content w-50 m-0 my-auto mr-auto">
                        <a data-toggle="collapse" href="" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            <p *ngIf="plannedTransaction.type === 'expense'" class="mb-0 pl-4 category-title text-danger">
                                -₹{{ plannedTransaction.amount }}
                            </p>
                            <p *ngIf="plannedTransaction.type === 'income'" class="mb-0 pl-4 category-title text-success">
                                ₹{{ plannedTransaction.amount }}
                            </p>
                            <p class="mb-0 pl-4 text-secondary">
                                {{ plannedTransaction.category | titlecase }},
                                {{ plannedTransaction.title | titlecase }}
                            </p>
                            <p *ngIf="plannedTransaction.tag" class="pl-4 mb-1 category-title text-white">
                                <small class="bg-default rounded p-1">{{ plannedTransaction.tag }}</small>
                            </p>
                        </a>
                    </div>
                    <div class="main-content my-auto">
                        <p class="mb-0">{{ plannedTransaction.date }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav id="create-nav" class="navbar navbar-expand-lg fixed-bottom w-25 ml-auto text-warning">
    <div class="ml-auto pr-4 pb-4">
        <a routerLink="/create" (click)="enableComponent()" class="text-warning">
            <i class="fas fa-plus-circle bg-white rounded-circle" style="font-size: 45px;"></i>
        </a>
    </div>
</nav>